@page "/faltas"

@using Gestao_de_Entregas.Data
@using Microsoft.AspNetCore.Identity
@using System.Text
@using System.Security.Claims

@inject GerenciadorService objGerenciadorService
@inject UserManager<ApplicationUser> _UserManager

<h2>Lista de faltas</h2>

<button class="btn btn-primary" @onclick="(() => AdicionarFalta())">Adicionar Falta</button>
<br />
<br />

@if (ListaFalta == null)
{
    <p>Carregando...</p>
}
else
{
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Remetente</th>
                <th>Data da falta</th>
                <th>Nota fiscal</th>
                <th>Conhecimento</th>
                <th>Volumes faltantes</th>
                <th>Situação</th>
                <th>Detalhes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Falta falta in ListaResumida)
            {
                <tr>
                    <td>@falta.Remetente</td>
                    <td>@falta.DataFalta.ToShortDateString()</td>
                    <td>@falta.NumeroNota</td>
                    <td>@falta.NumeroCTE</td>
                    <td>@falta.VolumesFaltante</td>
                    <td>

                        @if (falta.Encontrado)
                        {
                            <button class="btn btn-primary" disabled>Adicionar</button>
                        }
                        else
                        {
                            <button class="btn btn-primary" @onclick="(() => AdicionarStatus(falta))">Adicionar</button>
                        }
                    </td>
                    <td>
                        <button class="btn btn-primary" @onclick="(() => MostrarDetalhes(falta))">...</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<button class="btn btn-primary" @onclick="(() => ProximaPagina())">Mais +</button>

@*---------inicio inclusão de Urgencia---------------------*@
@if (MostraPopup)
{
    <!-- Este popup permite criar uma solicitação de urgencia-->
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Detalhes da falta</h3>
                    <button type="button" class="close" @onclick="FechaPopup">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <!-- Edita o formulário para a falta atual -->
                <div class="modal-body">

                    Remetente: <input class="form-control" type="text" placeholder="Remetente" @bind="objfalta.Remetente" />
                    Destinatario: <input class="form-control" type="datetime" placeholder="Destinatario" @bind="objfalta.Destinatario" />
                    Número da nota: <input class="form-control" type="number" placeholder="Número da Nota" @bind="objfalta.NumeroNota" />
                    Número do CTE: <input class="form-control" type="number" placeholder="Número do CTE" @bind="objfalta.NumeroCTE" />
                    Volumes faltantes: <input class="form-control" type="number" placeholder="Volumes Faltantes" @bind="objfalta.VolumesFaltante" />

                    <br />
                    @if (objfalta.Usuario != null)
                    {
                        <p>Incluida por: @objfalta.Usuario.Name</p>
                    }

                    <br />

                    <!-- Botão para salvar o usuário -->
                    @if (!objfalta.Encontrado)
                    {
                        <button class="btn btn-primary" @onclick="Salvafalta">Salvar</button>
                    }

                    <button class="btn btn-primary" @onclick="(() => MostrarStatus(objfalta))">Registros</button>

                    <br />
                    <span style="color:red">@strError</span>
                </div>
            </div>
        </div>
    </div>
}

@if (AdicionarStatusPopup)
{
    {
        <!-- Este popup permite criar uma solicitação de urgencia-->
        <div class="modal" tabindex="-1" style="display:block" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Adicionar registro</h3>
                        <button type="button" class="close" @onclick="FechaPopup">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <!-- Edita o formulário para a falta atual -->
                    <div class="modal-body">
                        <!-- Somente mostra o ID se não for um novo usuário -->
                        <p>Informe a situação da falta</p>
                        <p>Usuario: @Usuario.Name</p>
                        <!-- somnete permite editar se for um novo usuario -->
                        <textarea class="form-control" rows="5" @bind="objStatus.Observacao" />
                        <br /><br />

                        <button class="btn btn-primary" @onclick="SalvaStatus">Salvar</button>

                        <button class="btn btn-primary" @onclick="(() => MarcarEncontrado(objfalta))">Encontrado</button>

                        <br />
                        <span style="color:red">@strError</span>
                    </div>
                </div>
            </div>
        </div>
    }
}

@if (MostraStatusPopup)
{
    {
        <!-- Este popup permite criar uma solicitação de urgencia-->
        <div class="modal" tabindex="-1" style="display:block" role="dialog">
            <div class="modal-dialog">
                <div class="modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Exibindo registros da falta</h3>
                            <button type="button" class="close" @onclick="FechaStatusPopup">
                                <span aria-hidden="true">X</span>
                            </button>
                        </div>
                        <!-- Edita o formulário para a falta atual -->
                        <div class="modal-body">
                            <!-- somnete permite editar se for um novo usuario -->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Data ocorrência</th>
                                        <th>Ocorrência</th>
                                        <th>Usúario</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (FaltaStatus faltaStatus in ListaFaltaStatus)
                                    {
                                        <tr>
                                            <td>@faltaStatus.DataStatus</td>
                                            <td>@faltaStatus.Observacao</td>
                                            <td>@faltaStatus.Usuario.Name</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
@*---------fim da inclusão de usuários---------------------*@

@code
{
    public List<Falta> ListaFalta;
    public List<Falta> ListaResumida;
    public List<FaltaStatus> ListaFaltaStatus;

    ClaimsPrincipal UsuarioAtual;
    ApplicationUser Usuario;

    Falta objfalta = new Falta();
    FaltaStatus objStatus = new FaltaStatus();
    public string strError = "";
    int pagina;

    // Habilita a exibição do Popup
    bool MostraPopup = false;
    bool AdicionarStatusPopup = false;
    bool MostraStatusPopup = false;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private void AdicionarFalta()
    {
        objfalta = new Falta();
        MostraPopup = true;
    }

    private void AdicionarStatus(Falta falta)
    {
        objfalta = falta;
        objStatus = new FaltaStatus();
        AdicionarStatusPopup = true;
    }

    private void MostrarStatus(Falta falta)
    {
        try
        {
            ListaFaltaStatus = objGerenciadorService.ObterFaltaStatus(falta);
        }
        catch (Exception ex)
        {
            strError = ex.Message.ToString();
        }

        MostraStatusPopup = true;
    }

    private void MarcarEncontrado(Falta falta)
    {
        try
        {
            falta.Encontrado = true;
            FaltaStatus StatusEncontrado = new FaltaStatus { DataStatus = DateTime.Now, Falta = falta, Observacao = "Volume econtrado", Usuario = this.Usuario };

            objGerenciadorService.AtualizarFalta(falta);
            objGerenciadorService.InserirFaltaStatus(StatusEncontrado);

        }
        catch (Exception ex)
        {
            strError = ex.Message.ToString();
        }

        Buscarfalta();
    }

    private void Salvafalta()
    {
        try
        {
            objfalta.Usuario = Usuario;
            objfalta.DataFalta = DateTime.Now;
            FaltaStatus StatusNovo;

            if (objfalta.FaltaId == 0)
            {
                StatusNovo = new FaltaStatus { DataStatus = DateTime.Now, Falta = objfalta, Observacao = "Falta registrada", Usuario = this.Usuario };

            }
            else
            {
                StatusNovo = new FaltaStatus { DataStatus = DateTime.Now, Falta = objfalta, Observacao = "Falta modificada", Usuario = this.Usuario };
            }

            objGerenciadorService.AtualizarFalta(objfalta);
            objGerenciadorService.InserirFaltaStatus(StatusNovo);
            MostraPopup = false;
        }
        catch (Exception ex)
        {
            strError = ex.Message.ToString();
        }

        Buscarfalta();

    }

    private void SalvaStatus()
    {
        try
        {
            objStatus.DataStatus = DateTime.Now;
            objStatus.Falta = objfalta;
            objStatus.Usuario = Usuario;
            objGerenciadorService.InserirFaltaStatus(objStatus);
            AdicionarStatusPopup = false;
        }
        catch (Exception ex)
        {

            strError = ex.Message.ToString();
        }
    }

    private void Buscarfalta()
    {
        pagina = 0;
        ListaFalta = new List<Falta>();
        strError = "";

        try
        {
            ListaFalta = objGerenciadorService.ObterFalta();
        }
        catch (Exception ex)
        {
            strError = ex.Message.ToString();
        }

        ProximaPagina();
    }

    private void ProximaPagina()
    {
        ListaResumida = new List<Falta>();
        int count = ListaFalta.Count;
        pagina += 8;

        for (int i = 0; i < ListaFalta.Count && i < pagina; i++)
        {
            ListaResumida.Add(ListaFalta[i]);
        }
    }

    private void MostrarDetalhes(Falta falta)
    {
        objfalta = falta;
        MostraPopup = true;
    }

    public void FechaPopup()
    {
        // fecha o popup
        MostraPopup = false;
        MostraStatusPopup = false;
        AdicionarStatusPopup = false;
        Buscarfalta();
    }

    public void FechaStatusPopup()
    {
        MostraStatusPopup = false;
    }

    protected override async Task OnInitializedAsync()
    {
        Buscarfalta();
        UsuarioAtual = (await authenticationStateTask).User;
        var usuario = await _UserManager.FindByEmailAsync(UsuarioAtual.Identity.Name);
        Usuario = usuario;
    }
}